body{
    margin: 0;
    padding: 0;
    border-right: solid;
}
.d-none{
    display: none;
}
.flex{
    display: flex;
}
.selection{
    background: #cfcaaa;
}

.produit{ 
    justify-content: space-between;
align-items: center;
}
.ajout{
    height: fit-content;
}

/* constant */
p{
    margin: 0.5%;padding: 0.5%;
}
*[hidden]{
    visibility: hidden;
    /* opacity: 0; */
    pointer-events: none;
}
.button_poubelle{
    width: fit-content;
}


