body{
    margin: 0;
    padding: 0;
    width: 600px;
    height: 100vh;
    border-right: solid;
}

.flex{
    display: flex;
}
.selection{
    background: #cfcaaa;
}

.produit{ 
    justify-content: space-between;
align-items: center;
}
.ajout{
    height: fit-content;
}

/* constant */
p{
    margin: 0.5%;padding: 0.5%;
}
*[hidden]{
    visibility: hidden;
    /* opacity: 0; */
    pointer-events: none;
}



