:root {
    --main-bg-color: #ffd100;
    --main-border-rad: 20px;
  }
  
body{
    margin: 0;
    padding: 0;
}
header{
    height: 10vh;
}


.flex{
    display: flex;
}
/* header */

#menu-button {
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
}

#menu-button div {
    width: 30px;
    height: 5px;
    background-color: black;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
#side-menu {
    position: fixed;
    right: 0;
    top:0;

    width: 60%;
    height: 100vh;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    z-index: 10;
}
.content-commande{
    flex-direction: column;
    height: 84%;
    justify-content: space-between;*
}
.choix-quantite{
    background: var(--main-bg-color);
    border: none;
    font-size: 1.4rem;
    border-radius: 20px;
}
.moin{
    width: 1.4rem;
}
.num{
    width: 1rem;
    padding: 6%;
    font-weight: bold;
}

/* liste */
#liste_categorie{
    overflow: scroll;
    height: 85vh;
    position: relative;
}
.produit{ 
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}


/* constant */
p{
    margin: 0.5%;
    padding: 0.5%;
}
*[hidden]{
    visibility: hidden;
    pointer-events: none;
}
.button_poubelle{
    width: fit-content;
}
.liste_produits{
    position: relative;
}
.categorie_titre{
    position: sticky;
    top: -1px;
    background-color: #fff;
    z-index: 1;
}
hr{
    border: none;
    height: 3px;
}
.hr-produit{
    background: #f7f7f7;
}
.hr-categorie{
    background: #bcbcbc;
}
.description{
 
}
.produit-description{
    text-wrap: balance;
    color: rgb(151, 151, 151);
}
.img_block{
    position: relative;
    width: fit-content;
}
.ajout {
    position: absolute;
    bottom: 10%;
    right: 5%;
    justify-content: flex-end;
    border-radius: var(--main-border-rad);
    background: var(--main-bg-color);
    
}
.fixed_footer{

    height: 4vh;
}
.fixed_bottom_button{
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 6vh;
    background: var(--main-bg-color);
}
.fixed_bottom_button > button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
}
#bg-dark{
    height: 100vh;
    width: 100vw;

    background-color: rgb(99, 99, 99);
    opacity: 0.5;
    position: fixed;
    top: 0;

    z-index: 2;
    pointer-events: unset;
}

.d-none{
    display: none;
}